<section id="page-title" class="clear skype-bg" style="margin-top:5%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="page-title">
					<h1>Development</h1>
				</div>
			</div><!-- col 6-->			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/services/dv.jpg" class="img-responsive" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>Our goal is to assist companies in facilitating and promoting indian and international business development, procurement, marketing and sales representation, using our marketing and business expertise through our network of affiliates, contacts and sales representatives.</p>

							<p>We are flexible in working on a specific one time project or as an integral member of your team. We will consider working on the basis of various options such as fee basis, retainer, lump sum, commission, equity or combination thereof, depending on the particular situation.</p>
							<p></p>

							
						</div>

					</div><!-- col 6 end -->
				</div><!-- row end -->
			</div>
		</div>
	</div>
</div><!-- container end -->
</section>
