<section id="page-title" class="clear skype-bg" style="margin-top:5%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="page-title">
					<h1>Executive Research</h1>
				</div>
			</div><!-- col 6-->			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/services/es.jpg" class="img-responsive" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>Executive Search is our primary area of service to our clients. We help you find the best people, build successful teams, and generate value for shareholders through excellence. We find exceptional leaders who are in tune with your markets and the culture of your organization.</p>

							<p>SkConsultants is a complete recruitment company and places executive search for its clients. We place an end to our clientele’s search of elite and experienced professionals. Whether you want CEO, any Depaartment HEAD or any such higher executive for your organization, SkC can be a righteous destination for you.</p>
							<p></p>

							
						</div>

					</div><!-- col 6 end -->
				</div><!-- row end -->
			</div>
		</div>
	</div>
</div><!-- container end -->
</section>
