<section id="page-title" class="clear skype-bg" style="margin-top:5%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="page-title">
					<h1>House Keeping</h1>
				</div>
			</div><!-- col 6-->			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/services/cs.jpg" class="img-responsive" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>The <b>SKC</b> employment industry is traditionally a leading indicator of post-recession economic conditions and a reliable predictor of future employment trends. Cautious employers hire temps first, hedging their bets on a recovery, recognizing it is easier to scale back if demand does not materialize. This cycle is no different, except that this time employers plan to maintain a larger portion of their workforce as contract employees even after business recovers.</p>

							<p>During the recession, employers learned to refocus on their core business, realizing that a smaller core workforce that was well trained and technologically astute was more effective and nimble than their pre-recession staff. As firms emerge from the recession they are, of course, beginning to hire full time workers but they are also seeing a larger role for highly skilled contract workers who are engaged on an as-needed basis.</p>
							<p></p>

							
						</div>

					</div><!-- col 6 end -->
				</div><!-- row end -->
			</div>
		</div>
	</div>
</div><!-- container end -->
</section>
