<section id="page-title" class="clear skype-bg" style="margin-top:5%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="page-title">
					<h1>Permanent Staffing</h1>
				</div>
			</div><!-- col 6-->			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/services/ct.png" class="img-responsive" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>SkConsultants has been presenting various enduring enrollment chances to the meriting hopefuls from the  country. Candidates given by our organization have ended up being resources in distinctive organizations.Our straightforwardness is our best character.</p>

							<p>We have been constantly adored by our customers for giving best of the permanent staffing to every single proficient client. In this way, if any organization is searching for applicants on perpetual basis, we arrive to bail them out. Our experienced and expert HR experts select the right applicants, who can contribute adequately towards the development and advancement of the association.</p>
							<p></p>

							
						</div>

					</div><!-- col 6 end -->
				</div><!-- row end -->
				<div class="row">
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>We at SkConsultants search for the best candidates as per our clients's desires likewise take after the same. In that capacity we better comprehend what they are searching for and along these lines we evaluate our applicants start to finish and from natural for extraneous. We comprehend the estimation of time and cash of our own and in addition customers and in this way make no equivocalness in evaluation strategies.</p>
						</div>
					</div>
				</div>			

			</div>
		</div>
	</div>
</div><!-- container end -->
</section>
