<section id="page-title" class="clear skype-bg" style="margin-top:5%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="page-title">
					<h1>Recruitment & Placement</h1>
				</div>
			</div><!-- col 6-->			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/services/rec.jpg" class="img-responsive" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>Training goes for giving and adding to the abilities of applicants and experts keeping in mind  the end goal to offer them some assistance with doing their work better and in a more productive manner. </p>

							<p>SkConsultants  is a brand destination for different solutions that are needed professionally. One of those eminent and required services is our corporate training. It would let you achieve your dreams of catching the sky. We create a sophisticated environment for your training so that you won’t feel hesitated or unwelcome for any questionnaire or solution to your problem striking any moment during the training period. We make you capable enough to lead your profile and bloom your reputation with passion.</p>
							<p></p>

							
						</div>

					</div><!-- col 6 end -->
				</div><!-- row end -->
			</div>
		</div>
	</div>
</div><!-- container end -->
</section>
