<section id="page-title" class="clear skype-bg" style="margin-top:5%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="page-title">
					<h1>Security Guard</h1>
				</div>
			</div><!-- col 6-->			
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>
<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/services/sg-services.jpg" class="img-responsive" alt="Ab Succes Image" height="385" />
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>The <b>New Lion House Keeping</b> are the leader in the field of Security Guards of Every Requirement is Registered under the Private Security Agencies (Regulation) Act, 2005. We provide Security Guards Services, Armed Guards Security Services, Trained Security Guards Services, Gun Man Security Services, VIP and Executive Security services, Corporate Security Services, Industrial Security Guards Services, Domestic Security Guards Services, Project and Event Security Services, Personal Body guards, Security Guards Training, Security Guards Recruitment Services, Security supervisors, Guarding Services Lady Security Officers Lucknow India. These cost effective services successfully meet the desired requirement of our clients.
							</p>
							<p>We feel pleased to take this opportunity to introduce to your Lucknow based organization to have specialized in security jobs in innumerable industries, companies, showroom, schools, residential areas, offices, parks, hospital, evens etc. We are determined to provide a fool proof security cover to our valuable clients. Our we trained and competent personnel will guard tour assets round the clock, as the assignment on contrast will be carried out to your satisfaction.</p>
							
							
						</div>

					</div><!-- col 6 end -->
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p>Our firm is duly registered with the registrar of firms U.K. and appropriate authorities and abides by various labor laws governing such services from time to time to ensure a trouble free service to you. We understand that you want to recruit Security for your Site. We wish to be at your service, if given a change, our team will work to your satisfaction and sincerity. We look forward to hear from you in the near future.</p>
						</div>
					</div>
				</div><!-- row end -->
			</div>
	
</section>
