<body id="top" class="ndhome">

	<%=render partial: 'industrial'%>
	<%=render partial: 'corporate'%>

</body>	
<script type="text/javascript">
	$("#services").attr("class","active")
	$("#header").attr("style","background-color:#636a71")
</script>