<body id="top" class="ndhome">
	
		<!-- PRELOADER-->
		<%render partial: 'common/loader' %>
		
		<!-- END PRELOADER -->
	
		<!-- Header Section Start -->
		<%=render partial: 'common/header'%>
	<!-- Nadea PageTitle Section Start -->
		<section id="page-title" class="clear skype-bg" style="margin-top:4.5%;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="page-title">
							<h1>Services</h1>
						</div>
					</div><!-- col 6-->
					
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section>
 
		<section id="ndblogpage" class="ndblogsincol clear">
			<div class="container">
				<div class="blogcol2 page-postsing">
					<div class="row">
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-left">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="#">
											<img src="/assets/services/rec.jpg"  class="img-responsive" style="width:100%;height:400px;"/>
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="#">
											<h2>Recruitment & placement</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<span class="icon-clock-lp"></span>
											</span>
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										We are searching for  quality of potential job seekers or applicants to enable the organisaton to select the most appropriate people to fill its job needs.
									</p>
									<a href="" id="rec">
										<button class="service-button">MORE</button>
								    </a>
									
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-right">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="#">
											<img src="/assets/services/dv.jpg"   class="img-responsive" style="width:100%;height:400px;"/>
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="#">
											<h2>Training & Development</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<span class="icon-clock-lp"></span>
											</span>
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										We are offering a combined role often called Human Resources Development (HRD), meaning the development of “human” resources to remain competitive in the marketplace. 
									</p>
									<a href="" id="training">
										<button class="service-button">MORE</button>
								    </a>
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
					</div><!-- .row end -->
					
					
				</div><!-- row end -->


			</div><!-- container end -->

			<div class="container">
				<div class="blogcol2 page-postsing">
					<div class="row">
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-left">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="#">
											<img src="/assets/services/tmps.jpg"   class="img-responsive" style="width:100%;height:400px;"/>
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="#">
											<h2>Temporary Staffing</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<span class="icon-clock-lp"></span>
											</span>
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										SK Consultants are providing businesses with highly qualified professionals to fill short and long-term temporary and contract positions. 
									</p>
									<a href="" id="ts">
										<button class="service-button">MORE</button>
								    </a>
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-right">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="#">
											<img src="/assets/services/cs.jpg"   class="img-responsive" style="width:100%;height:400px;"/>
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="#">
											<h2>Contract Staffing</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<span class="icon-clock-lp"></span>
											</span>
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										For those companies seeking to access talent and tweak their workforce as per their cyclical needs, SK Consultants offers flexible, effective and short/long-term contract staffing solutions. 
									</p>
									<a href="" id="cs">
										<button class="service-button">MORE</button>
								    </a>
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
					</div><!-- .row end -->
					
					
				</div><!-- row end -->

				
			</div><!-- container end -->

			<div class="container">
				<div class="blogcol2 page-postsing">
					<div class="row">
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-left">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="#">
											<img src="/assets/services/ct.png"   class="img-responsive" style="width:100%;height:400px;"/>
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="#">
											<h2>Permanent Staffing</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<span class="icon-clock-lp"></span>
											</span>
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										Hiring permanent employees and absorbing them into your organisation is a serious commitment, so you better make sure that you’re making this commitment to the right people.
									</p>
									<a href="" id="ps">
										<button class="service-button">MORE</button>
								    </a>
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-right">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="#">
											<img src="/assets/services/es.jpg"   class="img-responsive" style="width:100%;height:400px;"/>
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="#">
											<h2>Executive Search</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<span class="icon-clock-lp"></span>
											</span>
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										SKC helps you to find the best people around the globe and make better hiring decisions for crucial positions.By ensuring that your leadership teams are the best in the world. 
									</p>
									<a href="" id="er">
										<button class="service-button">MORE</button>
								    </a>
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
					</div><!-- .row end -->
					
					
				</div><!-- row end -->

				
			</div><!-- container end -->
		</section>


 		<div class="ndheight"></div>
		
		<!-- ServicesAbout Section Start -->
		<div class="ndheight"></div>
		<section class="about section mainSection scrollAnchor lightSection animation" data-animation="animation-fade-in-up" id="about">
			<div class="sectionWrapper">
				<div class="container">
					<div class="row aboutContents">
						<div class="col-sm-12">
							
								<div class="accordionRow toggleRow triggerRow">
								  
								  <div class="accordion-content triggerMenu">
									<p></p>
								  </div><!-- end of accordian-content -->
								</div><!-- end of accordian row -->
							
							</div>
						</div><!-- end of about accordian -->

					  
					  
					</div><!-- end of about contents -->
					
				</div><!-- end of container -->
			</div><!-- end of section wrapper -->
		</section><!-- end about section -->
		<div class="ndheight"></div>
		<!-- ServicesAbout Section End -->		
		<%=render partial: 'common/clients'%>
		<%=render partial: 'common/footer' %>

</body>		
<script type="text/javascript">
	$("#services").attr("class","active")
	$("#training").click(function(){
		location.href = "/services/training"
	})
	$("#rec").click(function(){
		location.href = "/services/recruitment"
	})
	$("#ts").click(function(){
		location.href = "/services/temporary-staffing"
	})
	$("#ps").click(function(){
		location.href = "/services/permanent-staffing"
	})
	$("#cs").click(function(){
		location.href = "/services/contract-staffing"
	})
	$("#er").click(function(){
		location.href = "/services/executive-research"
	})
</script>