<body id="top" class="ndhome">

	<%render partial: 'common/loader' %>

	<!-- Header Section Start -->
	<%=render partial: 'common/header'%>

	<!-- Nadea PageTitle Section Start -->
		<section id="page-title" class="clear skype-bg" style="margin-top:4.5%;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="page-title">
							<h1>Our Values</h1>
						</div>
					</div><!-- col 6-->
					
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section>
		<section id="ndblogpage" class="ndblogsincol clear">
			<div class="container">
				<div class="blogcol2 page-postsing">
					<div class="row">
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-left">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="blog-single.html">
											<img src="/assets/blog/vision.jpg" alt="blog post image"  class="img-responsive" />
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="blog-single.html">
											<h2>Vission</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">						<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										SkCOnsultants is a Premier recruitment organization offering services to the clients in India, in all domains. We want to be the most precious customer-centric company that is best managed in terms of reliability, eminence and deliverance. We aim to ground a high performing manpower outsourcing relationship with our clients. 
									</p>
									<p>
										Our vision is to grow in invariable manner and be a strong recruitment service provider in the competitive marketplace.
									</p>
									
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->
						
						<div class="col-sm-6">
							<div class="item animation" data-animation="animation-fade-in-right">
								<div class="post-content-container">
									<div class="post-image-container">
										<a href="blog-single.html">
											<img src="/assets/blog/mission.jpg" alt="blog post image"  class="img-responsive" />
										</a>
									</div>
									
									<div class="blogpost-title">
										<a href="blog-single.html">
											<h2>Mission</h2>
										</a>
									</div><!-- Blog Title-->
									
									<div class="post-info">
										<div class="post-date">
											<hr class="bgfwh2"/>
										</div>
									</div><!-- .post-info end -->

									<p>
										At Sk Consultants, our mission is to become a quality service provider with some value additions in recruitment and IT / web services such as reducing cost, increase quality and timely closing of profiles. 
									</p>
									<p>
										Sk Consultants offers qualitative services in recruitment .We want to make a long term relationship with our clients by increasing and maintaining our understanding with them and meet their requirements.
										<ul class="styled-list style-4">
											<li>
												<label class="subtitle">We appreciates and anticipate the integrity in the work whatever be assigned by the clients.</label>
											</li>
										</ul>	
									</p>
								</div><!-- .blog Image and Text Post end -->
							</div><!--Item 1 -->
						</div><!--col 6 end -->						
					</div><!-- .row end -->					
			</div><!-- container end -->
		</section>

		<!-- Nadea Services Section Start -->
		<section id="ndblogpage" class="ndblogsincol clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="ndheight"></div>
						<div class="blogsingle page-postsing">
							<div class="item animation" data-animation="animation-fade-in-up">
								<div class="post-content-container">
																 
							<div class="post-author animation" data-animation="animation-fade-in-up">
								<div class="post-author-content">
 
									<div class="post-author-text">
										<h5>Our Values</h5>
										<ul class="styled-list style-4">
										<li>
											Commitment to quality
										</li>
										<li>
											Passion to excel
										</li>
										<li>
											Driving sustainable impact.
										</li>
										<li>
											Humility – Respect & Modesty
										</li>

								    </ul>
									</div>
								</div>
							</div><!-- Author Post End-->
							
							<div id="comments">
		
								<div class="com-title animation" data-animation="animation-fade-in-up">
									<h4>Why to opt us?</h4>
									<span class="com-line"></span>
									<p></p>
									<p>
										At Sk Consultants, our mission is to become a quality service provider with some value additions in recruitment and IT / web services such as reducing cost, increase quality and timely closing of profiles. 
									</p>
								</div>
								
									 
							 
							<div class="aboutAccordian accordianShortCode" id="accordianShortCode">
								<div class="accordionRow toggleRow triggerRow">
								  <a class="accordion-toggle3 WhoAreWetrigger" href="#">Customize Solution</a>
								  <div class="accordion-content triggerMenu">
									<p>We thoroughly study the current market dynamics which suits to the client’s requirement and deliver the desired solution of their expectation.</p>
								  </div><!-- end of accordian-content -->
								</div><!-- end of accordian row -->
							
								<div class="accordionRow toggleRow triggerRow">
								  <a class="accordion-toggle3 WhoAreWetrigger" href="#">Our Strategic Partnership</a>
								  <div class="accordion-content triggerMenu">
									<p>We think creative and work innovative that’s results a perfect talent acquisition for our client.</p>
								  </div><!-- end of accordian-content -->
								</div><!-- end of accordian row -->
							
								<div class="accordionRow toggleRow triggerRow">
								  <a class="accordion-toggle3 WhoAreWetrigger" href="#">Our Team and Infrastructure</a>
								  <div class="accordion-content triggerMenu">
									<p>We have modular and integrated set up of the office. We have a team of experience recruiter.</p>
								  </div><!-- end of accordian-content -->
								</div><!-- end of accordian row -->

								<div class="accordionRow toggleRow triggerRow">
								  <a class="accordion-toggle3 WhoAreWetrigger" href="#">Our working vogue</a>
								  <div class="accordion-content triggerMenu">
									<p>SkC provide a mere method to meet client’s requirements. We always look for candidates who have industry specific skills and belong to the exact location. Or preffered by client. </p>
								  </div><!-- end of accordian-content -->
								</div><!-- end of accordian row -->

								<div class="accordionRow toggleRow triggerRow">
								  <a class="accordion-toggle3 WhoAreWetrigger" href="#">Our Business Approach</a>
								  <div class="accordion-content triggerMenu">
									<p>We have the service support of well educated and experienced employee for testing, interviewing and assessment. The employee selection and assessment is done by experienced professionals and got excellent testimonials from the clients.</p>
								  </div><!-- end of accordian-content -->
								</div><!-- end of accordian row -->
							
							</div>
						</div><!-- end of about accordian -->

					  
						
					
				</div><!-- end of container -->
			 
					 
					
					
							
							
							
					</div><!-- Col 4 End -->
				
				</div>
			</div>
		</section>
		<!-- Nadea BlogPost Section End-->
			</div><!-- container end -->
		</section>
		<%=render partial: 'common/clients'%>

		<%=render partial: 'common/footer' %>
</body>		
