<body id="top" class="ndhome">

	<%render partial: 'common/loader' %>

	<!-- Header Section Start -->
	<%=render partial: 'common/header'%>

	<!-- Nadea PageTitle Section Start -->
		<section id="page-title" class="clear skype-bg" style="margin-top:4.5%;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="page-title">
							<h1>Who We Are?</h1>
						</div>
					</div><!-- col 6-->
					
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section>
		<!-- Nadea PageTitle Section End -->

<!-- Nadea Services Section Start -->
		<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/about.jpg" class="img-responsive about-img" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<h2>WELCOME TO <b>NEW LION HOUSE KEEPING</b></h2>
							<p style="margin-top:30px;">New Lion House Keeping is not just a business - rather it is a passion. A young and fast growing organization which has committed itself to offer the finest quality housekeeping services to our each individual client. We don’t feel any difference in housekeeping between our sweet home and office- the only difference is just the concern and attention.</p>

							<p>	Associated with industry for more then a decade now with expertise in house keeping products we first understand our customer needs, work culture and then design tailor made housekeeping solutions which perfectly match customer’s requirements and budget.</p>

							
						</div>
					</div><!-- col 6 end -->
				</div><!-- row end -->
				<div class="row">
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p></p>
							<p>New Lion House Keeping is a full-service residential and commercial house keeping and security provider. We are the leading source for comprehensive carpet cleaning, upholsterleaning, tile and grout cleaning for stone and tile, area and oriental rug cleaning, water extraction and more!</p>

							<p>Maintaining our customer’s repute rather enhancing the same is our prime objective hence We always use the best cleaning machines and equipment in our cleaning work. Every machine and equipment used by us is of good quality and cleans the surface of the area cleaned without any side effect.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<label>We are committed to :</label>
							<ul class="styled-list style-4">
								<li>
									Provide best services to our customers and grab their positive feedback.
								</li>
								<li>
									We are providing best house keeping service all over the india.
								</li>
								<li>
									We are security guard and all type of man power service provider.
								</li>
								<li>
									Providing unparalleled opportunities for personal growth. 
								</li>
								<li>
									Succeeding together with passion and trust.
								</li>

						    </ul>

							<p></p>
							<label>New Lion House Keeping is proud of its long standing relationships in the industry and the fact that 70% of its revenue comes from its existing clients, which is a testimonial of happy clients.</label>
						</div>
					</div>
				</div>
			</div><!-- container end -->
		</section>		
		
		<!-- ServicesAbout Section Start -->
		<section class="about section mainSection scrollAnchor lightSection" id="about">
			<div class="sectionWrapper">
				<div class="container">
			  
					<div class="row aboutContents">
						

					  
						<div class="col-sm-12 aboutProgressBar animation" data-animation="animation-fade-in-right">
							<div class="aboutpor-title heading"><h2>Our Services</h2></div>
							<div class="naporgress-bar">
								<h2 class="progr-title">House Keeping<span class="pull-right pro-count"></span></h2>
								<div class="progress">
									<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar" role="progressbar" style="width: 80%;"></div><!-- end of progress bar -->
								</div><!-- end of progress -->
							</div>
							<div class="naporgress-bar">
								<h2 class="progr-title">Security Guard<span class="pull-right pro-count"></span></h2>
								<div class="progress">
								  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" class="progress-bar" role="progressbar" style="width: 90%;"></div><!-- end of progress bar -->
								</div><!-- end of progress -->
							</div>
						
							<div class="naporgress-bar">
								<h2 class="progr-title">All type of man power<span class="pull-right pro-count"></span></h2>
								<div class="progress">
								  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" class="progress-bar" role="progressbar" style="width: 75%;"></div><!-- end of progress bar -->
								</div><!-- end of progress -->
							</div>							
						</div><!-- end of about progress bar -->
					  
					</div><!-- end of about contents -->
					
				</div><!-- end of container -->
			</div><!-- end of section wrapper -->
		</section><!-- end about section -->
		<div class="ndheight"></div>
		<!-- ServicesAbout Section End -->		
		
		<%=render partial: 'common/footer' %>
 
</body>		
		