<body id="top" class="ndhome">

	<%render partial: 'common/loader' %>

	<!-- Header Section Start -->
	<%=render partial: 'common/header'%>

	<!-- Nadea PageTitle Section Start -->
		<section id="page-title" class="clear skype-bg" style="margin-top:4.5%;">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="page-title">
							<h1>Who We Are?</h1>
						</div>
					</div><!-- col 6-->
					
				</div><!-- .row end -->
			</div><!-- .container end -->
		</section>
		<!-- Nadea PageTitle Section End -->

<!-- Nadea Services Section Start -->
		<section id="aboutus" class="aboutsk clear">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="ndteamimg animation" data-animation="animation-fade-in-left">
							<img src="/assets/aboutus.png" class="img-responsive" alt="Ab Succes Image"/>
						</div>
					</div><!-- col 6 end -->
					
					<div class="col-sm-7">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<h2>WELCOME TO SKCONSULTANTS</h2>
							<p style="margin-top:30px;">Committed to establish and maintain a positive difference to your staffing needs, we at SK Consultants, are a headhunting and manpower recruitment agency. We have provided exemplary customer service and competent employees to diverse corporates of all sizes in India in varied industries.</p>

							<p>	We are in the business of effectively understanding your manpower requirements, procuring the candidate with the desired profile and building trusting relationships. With our industry expertise, we understand that company's today require more than just a skilled candidate; they reach for employees who are productive, exhibit a positive attitude and have the ability to become a member of their team.</p>

							
						</div>
					</div><!-- col 6 end -->
				</div><!-- row end -->
				<div class="row">
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<p></p>
							<p>Since 2011, our experienced consultants have been supplying superb, well groomed, qualified,skilled/semi skilled workers with tremendous work ethic to numerous trades or professions.</p>

							<p>Because of extensive supply capabilities, we are able to meet even the most stringent of client requirements across various industries, handling intensive screening, testing and assessment programs placing the right caliber of candidate in the most appropriate opportunity</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="ab-headeig heading animation" data-animation="animation-fade-in-right">
							<label>We are committed to :</label>
							<ul class="styled-list style-4">
								<li>
									Creating competitive advvantage through unique solutions.
								</li>
								<li>
									Building capabilities and mobilizing oragnizations.
								</li>
								<li>
									Driving sustainable impact.
								</li>
								<li>
									Providing unparalleled opportunities for personal growth. 
								</li>
								<li>
									Succeeding together with passion and trust
								</li>

						    </ul>

							<p></p>
							<label>SkConsultants is proud of its long standing relationships in the industry and the fact that 70% of its revenue comes from its existing clients, which is a testimonial of happy clients.</label>
						</div>
					</div>
				</div>
			</div><!-- container end -->
		</section>
		<!-- Nadea Services Section End-->

		<!-- <section id="aboutsktab">
			<div class="container">
		<div class="row">
		<div class="col-sm-12"> -->
							<!-- .Tab Widget Start -->
							<!-- <div class="ndwidget_teb clear">
								<div class="abtgtw-title heading"><h2>Industries We Serve</h2></div>
								<div class="nd-default"> -->
									<!-- <ul class="nav nav-tabs">
										<li class="active"><a href="#tab1IT" data-toggle="tab"> IT Software/ Hardware</a></li>
										<li><a href="#tab2Con" data-toggle="tab">Construction Industry</a></li>
										<li><a href="#tab3EPC" data-toggle="tab"> EPC Sector</a></li>
										<li><a href="#tab4Bank" data-toggle="tab"> Banking and Finance Sector</a></li>
										<li><a href="#tab5Office" data-toggle="tab"> Office Administration</a></li>
										<li><a href="#tab6main" data-toggle="tab"> Maintenance</a></li>
										
									</ul> -->
										
									<!-- <div class="ndtabbody">
										<div class="tab-content"> -->
											<!-- <div class="tab-pane fade in active" id="tab1IT">
												<p class="tab-textp eltab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
												<p class="tab-textp">Donec vestibulum justo a diam ultricies pellentesque. Quisque mattis diam vel lacus tincidunt elementum. Sed vitae adipiscing turpis. </p>
											</div>  -->
											
											<!-- <div class="tab-pane fade" id="tab2Con">
												<p class="tab-textp eltab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
												<p class="tab-textp">Donec vestibulum justo a diam ultricies pellentesque. Quisque mattis diam vel lacus tincidunt elementum. Sed vitae adipiscing turpis. </p>
											</div>  -->
											
											<!-- <div class="tab-pane fade" id="tab3EPC">
												<p class="tab-textp eltab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
												<p class="tab-textp">Donec vestibulum justo a diam ultricies pellentesque. Quisque mattis diam vel lacus tincidunt elementum. Sed vitae adipiscing turpis. </p>													
											</div> --> 
											
											<!-- <div class="tab-pane fade" id="tab4Bank">
												<p class="tab-textp eltab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
												<p class="tab-textp">Donec vestibulum justo a diam ultricies pellentesque. Quisque mattis diam vel lacus tincidunt elementum. Sed vitae adipiscing turpis. </p>		
											</div> -->

											<!-- <div class="tab-pane fade" id="tab5Office">
												<p class="tab-textp eltab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
																							>
																
										</div> -->
										<!-- <div class="tab-pane fade" id="tab6main">
												<p class="tab-textp eltab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce velit tortor, dictum in gravida nec, aliquet non lorem.</p>
																								>
											 
											
										</div>  -->
									<!-- </div>
								</div>
							</section>	 -->		
		
		<!-- ServicesAbout Section Start -->
		<section class="about section mainSection scrollAnchor lightSection" id="about">
			<div class="sectionWrapper">
				<div class="container">
			  
					<div class="row aboutContents">
						

					  
						<div class="col-sm-12 aboutProgressBar animation" data-animation="animation-fade-in-right">
							<div class="aboutpor-title heading"><h2>Our Skills</h2></div>
							<div class="naporgress-bar">
								<h2 class="progr-title">Recruitment<span class="pull-right pro-count">80%</span></h2>
								<div class="progress">
									<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar" role="progressbar" style="width: 80%;"></div><!-- end of progress bar -->
								</div><!-- end of progress -->
							</div>
							<div class="naporgress-bar">
								<h2 class="progr-title">Executive Hunting<span class="pull-right pro-count">90%</span></h2>
								<div class="progress">
								  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" class="progress-bar" role="progressbar" style="width: 90%;"></div><!-- end of progress bar -->
								</div><!-- end of progress -->
							</div>
						
							<div class="naporgress-bar">
								<h2 class="progr-title">Training<span class="pull-right pro-count">75%</span></h2>
								<div class="progress">
								  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" class="progress-bar" role="progressbar" style="width: 75%;"></div><!-- end of progress bar -->
								</div><!-- end of progress -->
							</div>							
						</div><!-- end of about progress bar -->
					  
					</div><!-- end of about contents -->
					
				</div><!-- end of container -->
			</div><!-- end of section wrapper -->
		</section><!-- end about section -->
		<div class="ndheight"></div>
		<!-- ServicesAbout Section End -->		
		
		<%=render partial: 'common/footer' %>
<script type="text/javascript">
	$("#about").attr("class","active")
</script>
</body>		
		