<!-- OurClient Section Start -->
		<div class="clear white-bg  animation" data-animation="animation-fade-in-up" id="ndOurClient">
			<div style="margin-left:45%;">
				<h3>Our Clients</h3>				 	
			</div>
			<div class="container">

				<div class="row row-dd" style="margin-top:2%;">
					<div id="owl-OurClient">

						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/astro-logo.png" alt="Owl Image">
							</a>
						</div><!-- Client 1-->
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/group-logo1.png" alt="Owl Image">
							</a>
						</div><!-- Client 2-->
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/header-logo.jpg" alt="Owl Image">
							</a>
						</div><!-- Client 3-->
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/icri-logo.gif" alt="Owl Image">
							</a>
						</div><!-- Client 4-->
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/logo.png" alt="Owl Image">
							</a>
						</div><!-- Client 5-->
						
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/Vivo-Healthcare-Logo.png" alt="Owl Image">
							</a>
						</div><!-- Client 1-->
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/sb.gif" alt="Owl Image">
							</a>
						</div><!-- Client 2-->
						
					</div>
				</div>
			</div>
		</div>
		<!-- OurClient Section End -->