<!-- OurClient Section Start -->
		<div class="clear white-bg  animation" data-animation="animation-fade-in-up" id="ndOurClient">
			<div style="margin-left:45%;">
				<h3>Our Clients</h3>				 	
			</div>
			<div class="container">

				<div class="row row-dd" style="margin-top:2%;">
					<div id="owl-OurClient">

						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/client1.png" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/client2.png" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/client3.png" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/client4.gif" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/client5.png" alt="Owl Image">
							</a>
						</div>
						
						<div class="item owl-clientimg">
							<a class="singleClient" title="client">
								<img src="/assets/client/client6.gif" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client7.jpg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client8.png" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client9.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client10.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client11.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client12.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client13.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client14.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client15.jpeg" alt="Owl Image">
							</a>
						</div>
						<div class="item owl-clientimg">
							<a class="singleClient"  title="client">
								<img src="/assets/client/client16.jpeg" alt="Owl Image">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- OurClient Section End -->