<header class="header headerStyle1" id="header">
			<div class="ndheader" id="ndheader">
				<div class="sticky scrollHeaderWrapper" id="header">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="logo pull-left">
											 
											 <a class="navbar-brand" href="" id= "hlogo">
											 <div class="logo">	<img src="/assets/logo.png" class="preload-gif" id="logo">
													<span style="margin-left:5%;">NEW</span><span class="font-color">LION HOUSE KEEPING</span></div>
												</a>
	
								</div>

<nav class="mainMenu mainNav pull-right" id="mainNav">
<ul class="navTabs">
	<li>
		<a href="/"  id="home">Home</a>
	</li>
	<li>
		<a href="/">Who we are?</a>
	</li>
	<li>
		<a href="" id="services">Services</a>
		<ul class="dropDown sub-menu">
			<li><a href="/">House Keeping</a></li>
			<li><a href="/" >Security Guard</a></li>	
			<li><a href="/">Man Power</a></li>		
		</ul><!-- end of dropdown -->
	</li>
	<li><a href="/contact" id="active">Contact</a></li>
	
	
						</ul><!-- end of nav tabs -->
					</nav><!-- end of main nav -->
		  
					<a href="" class="generalLink" id="responsiveMainNavToggler"><i class="fa fa-bars"></i></a>
					<div class="clearfix"></div><!-- end of clearfix -->
					<div class="responsiveMainNav"></div><!-- end of responsive main nav -->
							  
							</div><!-- end fo col 12 -->
						</div><!-- end of row -->
					</div><!-- end of container -->
				</div><!-- end of sticky -->
			</div><!-- end of ndheader -->
		</header><!-- end of header -->
