<div id="preloader">
	<div class="preloader-container">
		<h4 class="preload-logo triggerAnimation animated" data-animate="fadeInLeft">SKC</h4>
		<h4 class="back-logo">SKC</h4>

		<img src="/assets/preloader.gif" class="preload-gif" alt="preload-image">
	</div>
</div>